<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.financialsystem.dao.GoodsDao">

    <select id="getAll" resultType="Goods">
        select * from goods where state=1
    </select>

    <select id="getById" resultType="Goods">
        select * from goods where gid=#{gid}
    </select>

    <update id="delGoodsById" >
        update goods set state=0 where gid=#{gid}
    </update>

    <insert id="addGoods" >
        insert into goods value(null,#{gNmae},#{gPrice},#{gTitle},#{gRisk},#{pId},#{state},#{gType},#{gImg})
    </insert>

</mapper>